<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>음식</title>
</head>

<body>
    <h1>내가 좋아하는 음식</h1>
    <ul>
        <li style="font-size: 2rem"><%= name1 %>가 만든 <%= food1 %></li>
        <li style="font-size: 2rem;"><%= name2 %>가 만든 <%= food2 %></li>
        <li style="font-size: 2rem;"><%= name3 %>가 만든 <%= food3 %></li>
    </ul>
</body>

</html>